body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.container {
  position: relative;
  float: left;
  z-index: 3;
  width: 53.5833333333%;
  height: 579px;
  margin: 46px 0 0 26.5%;
  background-color: rgba(181, 174, 174, 0.97);
  box-shadow: 2px 0 5px 20px rgba(0, 0, 0, .5);
}

.element {
  position: relative;
  float: left;
}

.radio-label {
  display: block;
  position: relative;
  float: left;
}

.text {
  position: relative;
  float: left;
  text-align: center;
}

._button {
  display: block;
  position: relative;
  float: left;
  font-size: 1em;
  text-align: center;
  color: rgb(0, 0, 0);
}

._input {
  display: block;
  position: relative;
  float: left;
  width: 33.1666666666%;
  height: 31px;
  margin-left: 44%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  color: rgb(0, 0, 0);
}

.element-1 {
  clear: both;
  z-index: 13;
  width: 5.8333333333%;
  height: 79px;
  margin: -104px 0 0 16%;
  background: url('../images/9f473b997ec1d8b6cb4f2cab99f01e69.jpg') rgba(255, 255, 255, 0.05);
  background-size: cover;
  background-position: center center;
}

.element-2 {
  z-index: 8;
  width: 80%;
  height: 188px;
  margin: 60px 0 0 10.11589%;
  background-color: rgba(255, 23, 0, 0.97);
}

.radio-label-1 {
  clear: both;
  z-index: 4;
  width: 14.3692708333%;
  height: 25px;
  margin: -86px 0 0 28.83073%;
}

.radio-label-2 {
  z-index: 5;
  width: 21.25%;
  height: 25px;
  margin: -86px 0 0 28.83073%;
}

.radio-label-3 {
  z-index: 6;
  width: 21.25%;
  height: 25px;
  margin: -86px 0 0 55.73307%;
}

.radio-label-4 {
  z-index: 7;
  width: 14.1830729166%;
  height: 22px;
  margin: -74px 0 0 62.79948%;
}

.text-1 {
  z-index: 0;
  width: 80%;
  min-height: 112px;
  margin-left: 10.1158854166%;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 23, 0, 0.97);
  font-size: 2.75em;
  color: rgba(0, 0, 0, 0.97);
}

.text-2 {
  clear: both;
  z-index: 14;
  width: 15.0807291666%;
  min-height: 74px;
  margin: -467px 0 0 26.5%;
  font-size: 3.125em;
  color: rgb(0, 0, 0);
}

.text-3 {
  z-index: 16;
  width: 15.0807291666%;
  min-height: 74px;
  margin: -393px 0 0 26.5%;
  font-size: 3.125em;
  color: rgb(0, 0, 0);
}

._button-1 {
  z-index: 1;
  width: 18.92%;
  height: 47px;
  margin-left: 10%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 23, 0, 0.97);
}

._button-2 {
  clear: both;
  z-index: 10;
  width: 21.25%;
  height: 47px;
  margin: -47px 0 0 28.83073%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 23, 0, 0.97);
}

._button-3 {
  z-index: 2;
  width: 21.9166666666%;
  height: 47px;
  margin: -47px 0 0 50%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 23, 0, 0.97);
}

._button-4 {
  z-index: 11;
  width: 18.9166666666%;
  height: 47px;
  margin: -47px 0 0 71.19922%;
  border-top: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 23, 0, 0.97);
}

._button-1:hover,
._button-2:hover,
._button-3:hover,
._button-4:hover {
  background-color: rgba(255, 69, 51, 0.97);
}

._button-1:active,
._button-2:active,
._button-3:active,
._button-4:active {
  background-color: rgba(204, 18, 0, 0.97);
}

._button-5 {
  z-index: 18;
  width: 18.25%;
  height: 94px;
  margin: -308px 0 0 30.94922%;
  border-radius: 3px;
  background-color: rgba(255, 23, 0, 0.97);
}

._button-6 {
  z-index: 19;
  width: 18.25%;
  height: 94px;
  margin: -308px 0 0 57.59896%;
  border-radius: 3px;
  background-color: rgba(255, 23, 0, 0.97);
}

._button-7 {
  z-index: 9;
  width: 5.4499999999%;
  height: 64px;
  margin: -133px 0 0 71.19922%;
  border-radius: 64px;
  background: url('../images/Yn5UDIeY_400x400.jpg') rgba(255, 23, 0, 0.97);
  background-size: cover;
  background-position: center center;
}

._button-8 {
  z-index: 12;
  width: 5.4166666666%;
  height: 64px;
  margin: -133px 0 0 78%;
  border-radius: 98px;
  background: url('../images/odnoklassniki_logo_OneProg.ru__u-240-83e.png'), url('../images/Yn5UDIeY_400x400.jpg') rgb(255, 22, 0);
  background-repeat: no-repeat, repeat;
  background-size: cover, cover;
  background-position: center center, center center;
  background-attachment: scroll, scroll;
}

._input-1 {
  z-index: 15;
  margin-top: -445px;
}

._input-2 {
  z-index: 17;
  margin-top: -369px;
}